{% extends 'dummy.html'%}


{% block title%}
      <title>Reset Password Page</title>
{% endblock %}

{% block body_block %}
<center>
    <h1>Reset Password Form</h1>
    <form method="POST">
        {% csrf_token %}

        <label for="un">username</label>
        <input type="text" name="un" id="un"> 
        <br> <br>
        <label for="pw">password</label>
        <input type="password" name="pw" id="pw">

        <input type="submit" value="login">

    </form>

</center>
{% endblock %}

